<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Something bad has happened</h1>
        <h2>An error occurred while processing your request. Try later.</h2>
    </hgroup>
</body>
</html>
